name: Terraform CI/CD - Test

on:
  pull_request:
    branches: [ develop ]
    types: [ opened, reopened, synchronize ]
  workflow_dispatch:
    inputs:
      action:
        description: 'Terraform Action'
        required: true
        default: apply
        type: choice
        options:
          - apply
          - plan

permissions:
  id-token: write
  contents: write
  pull-requests: write
  actions: read

jobs:
  terraform:
    name: Terraform CI/CD Dispatcher
    runs-on: ubuntu-latest

    env:
      TERM: xterm-256color

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Call Terraform workflow
        uses: Leapfrog-DevOps/terraform-analyzer/.github/workflows/develop.yml@reusable
        with:
          action: ${{ inputs.action || 'apply' }}
          environment: dev
          aws-region: us-east-2
          deploy-lambda: false

      - name: Call Analyzer workflow
        uses: Leapfrog-DevOps/terraform-analyzer/.github/workflows/analyzer.yml@reusable
        with:
          action: ${{ inputs.action || 'apply' }}
          environment: dev
          source_run_id: ${{ github.run_id }}
          source_repository: ${{ github.repository }}
          aws-region: us-east-2
          deploy-lambda: false