name: Terraform CI/CD - Test

on:
  push:
    branches:
      - tf
  pull_request:
    branches: [ tf ]
    types: [ opened, reopened, synchronize ]

  workflow_dispatch: # Optional, for manual triggers
    inputs:
      tf-action:
        description: 'Terraform Action'
        required: true
        default: plan
        type: choice
        options:
          - apply
          - plan
      environment:
        description: 'Environment'
        required: true
        default: dev
        type: string

permissions:
  id-token: write
  contents: write
  pull-requests: write
  actions: read

jobs:
  terraform:
    name: Call Terraform Workflow
    uses: Leapfrog-DevOps/terraform-analyzer/.github/workflows/error-analyzer.yml@reusable
    with:
      # artifact_name: "tfpan" #
      tf-action: ${{ inputs.tf-action || 'apply' }}
      environment: ${{ github.event.inputs.environment || 'dev' }}
      aws-region: us-east-2
      deploy-lambda: false
      python-version: "3.11"
      terraform-version: "1.11.4"
    secrets: inherit

  analyzer:
    name: Call Analyzer Workflow
    needs: terraform
    uses: Leapfrog-DevOps/terraform-analyzer/.github/workflows/cost-analyzer.yml@reusable
    with:
      # artifact_name: ${{ needs.terraform.outputs.artifact_name }}
      environment: ${{ github.event.inputs.environment || 'dev' }}
      source_run_id: ${{ github.run_id }}
      source_repository: ${{ github.repository }}
      aws-region: us-east-2
      deploy-lambda: false
    secrets: inherit