name: Terraform CI/CD - Test

on:
  pull_request:
    branches: [ develop ]
    types: [ opened, reopened, synchronize ]
  workflow_dispatch:
    inputs:
      action:
        description: 'Terraform Action'
        required: true
        default: apply
        type: choice
        options:
          - apply
          - plan
      environment:
        description: 'Environment'
        required: true
        default: dev
        type: string

permissions:
  id-token: write
  contents: write
  pull-requests: write
  actions: read

jobs:
  terraform:
    name: Call Terraform Workflow
    uses: Leapfrog-DevOps/terraform-analyzer/.github/workflows/develop.yml@reusable
    with:
      action: ${{ inputs.action }}
      environment: ${{ inputs.environment }}
      aws-region: us-east-2
      deploy-lambda: false
    secrets: inherit

  analyzer:
    name: Call Analyzer Workflow
    needs: terraform
    uses: Leapfrog-DevOps/terraform-analyzer/.github/workflows/analyzer.yml@reusable
    with:
      action: ${{ inputs.action }}
      environment: ${{ inputs.environment }}
      source_run_id: ${{ github.run_id }}
      source_repository: ${{ github.repository }}
      aws-region: us-east-2
      deploy-lambda: false
    secrets: inherit